# Binaries
chatbot-whatsapp.exe
chatbot-whatsapp
*.exe
*.test
*.out

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dependencies
vendor/
frontend/node_modules/

# Build
/dist/
/build/
frontend/dist/

# Frontend
frontend/.env
